<h1>Let's Make A New Party</h1>

<div>
  <% if @party.errors %>
    <ul>
      <% @party.errors.full_messages.each do |message| %>
        <li>
          <%= message %>
        </li>
      <% end %>
    </ul>
  <% end %>
  
  <%= form_for @party do |f| %>
  <%= f.label :name, "What's your awesome party called?" %>
  <%= f.text_field :name %>
  <%= f.label :location %>
  <%= f.text_field :location %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  
  <%= f.submit %>
  <% end %>
</div>

