<h1>Add a New Party</h1>

<% if @party.errors.size > 0 %>
  <ul>
    <% @party.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @party do |f| %>
  <%= f.label :name, "What are you going to call your awesomest party evar?" %>
  <%= f.text_field :name %>

  <%= f.label :location %>
  <%= f.text_field :location %>

  <%= f.label :description %>
  <%= f.text_area :description %>

  <%= f.submit "When you party, you must party hard" %>
<% end %>